@import url("common.css");
@import url("side_menu.css");
@import url("slideshow.css");
main ul {
    margin-top: 1em;
}

main li {
    font-size: 1.15em;
    margin-bottom: 1em;
}

.classroom {
    margin-top: 6em;
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;
}

.classroom img {
    float: left;
    margin-right: 2.5em;
}

.classroom p {
    font-size: 1.15em;
}

#column-view {
    display: flex;
}

.column {
    width: 50%;
    padding: 16px;
    font-size: 1em;
}

.column2{
    width: 50%;
    padding-top: 16px;
    padding-left: 80px;
    font-size: 1em;
}

.column .inner-div {
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    padding: 19px 24px;
}